/*------------------------------------*\
    VARIABLES
\*------------------------------------*/

$Roboto: 'Roboto', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$Lato: 'Lato', sans-serif;
$Slabo: 'Slabo 27px', serif;
$SourceOpenSans: 'Source Sans Pro', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Raleway: 'Raleway', sans-serif;
$OpenSans: 'PT Sans', sans-serif;
$NotoSans: 'Noto Sans', sans-serif;
$Prompt: 'Prompt', sans-serif;

// Main colours
$black: #000000;
$offBlack: #1d2120;
$white: #fff;
$offWhite: #f7f7f7;
$lightGrey: #5a5c51;
$LightBrown: #ba9077;
$lightBlue: #bcd5d1;

//Background colours
$backgroundBlue: #0B447E;
$backgroundLightGrey: #F5F5F5;
$backgroundWhite: #FFFFFF;
$backgroundOffBlack: #1b1d1f;
$backgroundOffBlackDark: #141618;

//Text colours
$textGrey: #777777;
$textDarkGrey: #333333;


//Borders colours
$borderLight: #EAEAEA;
$borderDark: #efefef;

//Social colours
$facebook: #3B5998;
$linkedin: #0976B4;
$google: #DD4B39;
$twitter: #55ACEE;