/*------------------------------------*\
    CONTENT
\*------------------------------------*/
.content-generic {
  h1 {
    font-size: 32px;
    font-weight: 600;
  }

  h2 {
    font-size: 28px;
    font-weight: 600;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
  }

  h4 {
    font-size: 20px;
    font-weight: 600;
  }

  h5 {
    font-size: 16px;
    font-weight: 600;
  }

  h6 {
    font-size: 12px;
    font-weight: 600;
  }

  a {
    color: $LightBrown;
  }

  p {
    margin-bottom: 20px;
    color: $textGrey;
    font: normal normal 400 15px/27px $OpenSans;
    letter-spacing: .3;
    width: 100%;
  }

  ul,
  ol {
    font: normal normal 400 15px/27px $OpenSans;
    padding: 0;
    margin: 10px 0 20px 25px;
    color: $textGrey;
    width: 100%;
    letter-spacing: .3;

    li {
      font-size: 15px;
    }
  }
  ul {
    list-style-type: disc;
  }

  ol {
    list-style: decimal;
  }

  blockquote {
    border-left: 4px solid $LightBrown;
    margin: 40px 0px;
    padding: 20px 30px;

    P {
      color: $offBlack;
      margin: 0 0 20px 0;
      font: normal normal 400 18px/29px $OpenSans;
      width: 100%;

      &:last-of-type {
        margin: 0;
      }
    }
  }

  pre {
    padding: 20px;
    background-color: $borderLight;
    color: $offBlack;
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    font: normal normal 400 18px/27px $OpenSans;
  }

  img {
    margin: 10px 20px;
    display: block;

    &.alignleft {
      text-align: left;
      float: left;
      margin-left: 0px;
    }

    &.aligncenter {
      margin: 10px auto;
    }

    &.alignright {
      text-align: right;
      float: right;
      margin-right: 0px;
    }

    &.size-small,
    &.size-medium,
    &.size-large,
    &.size-full {
      width: 100%;
      height: auto;
    }

    &.size-small {
      max-width: 400px;
    }

    &.size-medium {
      max-width: 600px;
    }

    &.size-large {
      max-width: 800px;
    }

    &.size-full {
      max-width: 100%;
    }
  }
}