/*------------------------------------*\
    GENERAL
\*------------------------------------*/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

main {
  width: 100%;
  display: block;
  float: left;
  background-color: $white;

  &:after {
    content: '';
    display: block;
    float: left;
  }
}

/*------------------------------------*\
    INNER WRAP
\*------------------------------------*/

.inner-wrap {
  padding: 20px;
  width: 100%;

  &.center {
    text-align: center;
  }
}

.page-center {
  max-width: 1024px;
  margin: 0 auto;
}

/*------------------------------------*\
    IN VIEWPORT CHECKS
\*------------------------------------*/

.viewport_check,
.viewport_check_zoomIn,
.viewport_check_bounceIn,
.viewport_check_slideInUp,
.viewport_check_fadeInRight {
  opacity: 0;
  @include transition(all, 1s, ease-in-out);
}

.in_viewport {
  opacity: 1;
}